/* Global -------------------------------------------------*/

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("../static/fonts/AppleSDGothicNeoB.ttf");
}

* {
  box-sizing: border-box;
  font-family: "AppleSDGothicNeoB";
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  margin: 0;
}

/* 아래에 container css style을 지정해주세요. */
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: white;
  color: #ff7710;
}

div {
  display: flex;
  color:white;
}

.insta{
}
.insta:nth-child(1) {
  height:10%;
  width: 100%;
}

.insta:nth-child(2) {
  height:70%;
  width: 100%;
}

.insta:nth-child(3) {
  height:5%;
  width: 100%;
}

.insta:nth-child(4) {
  height:5%;
  width: 100%;
}

.insta:nth-child(5) {
  height:10%;
  width: 100%;
  margin-left: 20px;
  font-size: 12px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  align-items: center;
}

.logo3 {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.check {
  display: flex;
  flex-direction: row;
  width: 20%;
  font-size: 30px;
  justify-content: space-evenly;
  margin-top: 13px;
}

.check2{
  display: flex;
  flex-direction: row;
  width: 70%;
}

.check3{
  display: flex;
  flex-direction: row;
  width: 10%;
  display: flex;
  font-size: 40px;
  justify-content: end;
  margin: 13px;
}

.likes {
  margin: 10px;
  font-size: 16px;
}

/* 아래에 item css style을 지정해주세요. */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
}

.item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 60px;
}
.item:nth-child(2) {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  margin: 40px 0px 40px 40px;
}
.item:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 40px 40px 40px;
}

.item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin: 0px 40px 40px 40px;
}

table {
  display: flex;
  border: 1px solid black;
  background-color: #ff7710;
}

.table {
  display: flex;
  flex-direction: column;
}

.ul {
  display: flex;
  flex-direction: column;
}

.loader{
  animation-duration: 1s;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: 1px solid white;
  width: 100px;
  height: 100px;
}

@keyframes loader {
  0% {
    transform: scale(100%)
  }
  100% {
    transform: scale(0%)
  }
}